page-details {
    .maj
    {
        text-transform: capitalize;
    }
    .centrer
    {
        text-align : center;
    }
    h2
    {
        text-align: center;
    }
    .bar
    {
        background-color : #4fd4dabf;
    }
}